@charset "utf-8";
@media (max-width: 1400px) {
    .container.loadmap {
        max-width: 1200px;
    }
    .loadmap_mission {
        left: 0;
    }
    .diamond {
        left: 500px;
    }
    .tarocard {
        left: 0;
    }
    .sdna {
        left: 145px;
    }
    .yoat {
        left: 525px;
    }
    .shop {
        left: 500px;
    }
    .jewelrybox {
        left: 0;
    }
    .key {
        left: 400px;
    }
    .dna {
        left: 50px;
    }
    .dress {
        left: 440px;
    }
    .mystery {
        left: 770px;
    }
    .babyapes {
        left: 400px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .monkey {
        left: 195px;
    }
    .desc {
        right: 100px;
    }
    .filter_box {
        flex: 0 0 25%;
    }
    .filter_title h2 {
        padding-left: 20px;
    }
    .filter_bg .color_item ul li div {
        width: 170px;
    }
    .filter_bg .color_item select {
        width: 170px;
    }
    .reset_btn > button {
        width: 170px;
    }
    .gallery {
        flex: 0 0 75%;
    }
    .diamond {
        left: 505px;
    }
    .sdna {
        left: 120px;
    }
    .yoat {
        left: 575px;
    }

    .jewelrybox,
    .key,
    .mystery
    {
        top: 0;
    }
    .jewelrybox,
    .dna
    {
        left: 0;
    }
    .dress,
    .key
    {
        left: 410px;
    }
    .mystery {
        top: 135px;
        left: 760px;
    }
    .babyapes {
        left: 370px;
    }
    .loadmap_mobile .diamond_img,
    .loadmap_mobile .tarocard_img,
    .loadmap_mobile .yoat_img,
    .loadmap_mobile .shop_img,
    .loadmap_mobile .babyapes_img
    {
        width: 150px;
        height: 224px;
    }
    .sdna_img,
    .key_img,
    .mystery_img,
    .dna_img,
    .dress_img,
    .jewelrybox_img
    {
        width: 90px;
        height: 130px;
    }
    .dress_img {
        width: 90px;
        height: 175px;
    }
    .loadmap_txt h2 {
        font-size: 2rem;
        color: #fff;
    }
    .loadmap_txt p {
        font-size: 1rem;
        line-height: 20px;
        padding-top: 10px;
        color: #fff;
    }
    .loadmap_txt02 h2 {
        font-size: 1.5rem;
    }
    .loadmap_txt02 p {
        font-size: 1rem;
    }
}
@media (max-width: 990px) {
    .container {
        max-width: 720px;
    }
    .main_bg {
        height: 706px;
    }
    .social_nav {
        display: none;
    }
    .glo_nav {
        justify-content: flex-start;
    }
    .glo_nav > ul > li > a {
        padding: 5px 5px;
        margin: 0;
    }
    .wrap {
        flex-wrap:wrap;
    }
    .door {
        top: 289px;
        width: 300px;
    }
    .door.on {
        top: 291px;
    }
    .monkey {
        left: 145px;
    }
    .monkey img {
        width: 200px;
    }
    .desc {
        bottom: 10px;
        right: 30px;
    }
    .desc p {
        font-size: 2rem;
        line-height: 2.7rem;
    }
    .smoke {
        bottom: 0px;
    }
    .title_neon {
        display: none;
    }
    .neon {
        display: none;
    }
    .mobile_title_neon {
        display: block;
        top: 45px;
    }
    .mobile_title_neon img {
        width: 145px;
    }
    .mobile_neon {
        display: block;
        width: 600px;
    }
    .mobile_neon img {
        width: 600px;
    }
    .bottom_img {
        width: 660px;
    }
    /* main */
    .sec03 .content01 {
        flex-wrap: wrap;
        align-items: center;
    }
    .sec03 .img_box {
        padding-top: 50px;
    }
    .filter_title h2 {
        margin-bottom: 30px;
    }
    .filter_box {
        padding: 0 15px;
        box-sizing: border-box;
    }
    .filter_bg .color_item ul li div {
        width: 100%;
    }
    .filter_bg .color_item select {
        width: 100%;
    }
    .filter_bg .color_item {
        width: 100%;
    }
    .filter_bg .color_item a {
        width: 24%; height: 150px;
    }
    .filter_bg .color_item a:nth-child(4n) {
        margin-right: 0;
    }
    .filter_box {
        flex: 0 0 100%;
    }
    .item {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .gallery {
        padding-top: 50px;
        flex: 0 0 100%;
    }
    .reset_btn {
        margin-top: 10px;
    }
    .reset_btn > button {
        width: 100%;
        height: 90px;
    }
    .content01 {
        padding: 0 20px;
    }
    .container.loadmap {
        display: none;
        max-width: 600px;
    }

    .main_logo {
        width: 50%;
    }
    .main_logo,
    .loadmap_mission,
    .diamond,
    .sdna,
    .tarocard,
    .yoat,
    .shop {
        position: static;
    }
    .diamond,
    .sdna,
    .tarocard,
    .yoat,
    .shop {
        justify-content: center;
    }
    .container.loadmap_mobile {
        display: block;
    }
    .loadmap_mobile .loadmap01 {
        height: 2340px;
    }
    .loadmap_mobile .loadmap_mission {
        width: 100%;
    }
    .loadmap_mobile .loadmap01 > div {
        margin-top: 50px;
    }
    .loadmap_mobile .loadmap01 > div.diamond {
        margin-top: 20px;
    }
    .loadmap_mobile .loadmap01 > div.loadmap_mission {
        margin-top: 0;
    }
    .loadmap_mobile .loadmap01 > .sdna {
        margin-top: 10px;
    }
    .loadmap_mobile .loadmap02 {
        overflow: hidden;
        height: 975px;
    }
    .loadmap_mobile .loadmap02 > div:nth-child(1n) {
        float: left;
    }
    .loadmap02 > div.dna {
        clear: both;
        margin-top: -90px;
    }
    .loadmap_mobile .loadmap02 > div.dress {
        width: 100%;
        padding-top: 100px;
    }
    .loadmap02 > div {
        width: 50%;
    }
    .loadmap_mobile .loadmap03 {
        margin-top: 70px;
    }
    .loadmap_txt {
        margin-top: 12px;
        margin-left: 0;
        text-align: center;
    }
    .loadmap_txt h2 {
        font-size: 2.5rem;
        color: #fff;
        font-weight: bold;
        line-height: 28px;
    }
    .loadmap_txt p {
        font-size: 1rem;
        line-height: 20px;
        padding-top: 12px;
        color: #fff;
    }
    .loadmap_txt02 {
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }
    .loadmap_txt02 h2 {
        font-size: 2rem;
        font-weight: bold;
    }
    .loadmap_txt02 p {
        word-break: keep-all;
        word-wrap: break-word;
        font-size: 0.9rem;
    }
    .loadmap03 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .loadmap_logo {
        height: 230px;
    }
    .diamond, .sdna, .tarocard, .yoat, .shop {
        align-items: center;
        flex-direction: column;
    }
    .msdna_img {
        display: block;
    }
    .jewelrybox, .key, .dna, .dress, .mystery {
        position: static;
        align-items: center;
        flex-direction: column;
    }
    .key {
        padding-top: 130px;
    }
    .mystery {
        padding-top: 40px;
    }
    .dress_img {
        width: 95px;
    }
    .sdna_img {
        display: none;
    }
    .babyapes {
        position: static;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main_logo{
        position: absolute;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 720px) {
    .container {
        max-width: 659px;
        padding: 0;
    }
    #nav {
        flex-wrap: wrap;
        justify-content:space-between;
        padding: 15px 20px;
    }
    #nav.loadmap {
        justify-content: flex-end;
    }
    .title {
        flex: 0 0 0;
    }
    .glo_nav {
        display: none;
    }
    .main_bg {
        margin-bottom: 100px;
    }
    .door {
        display: none;
    }
    .door.on {
        display: block;
        top: 239px;
        width: 420px;
        opacity: 1;
    }
    .bottom_img {
        width: 540px;
    }
    .monkey img {
        width: 222px;
    }
    .monkey {
        left: 10px;
    }
    .smoke {
        bottom: 20px;
    }
    .title_neon {
        display: none;
    }
    .mobile_title img {
        width: 140px;
        top: -75px;
    }
    .desc {
        bottom: 20px; right: 41px;
    }
    .desc p {
        font-size: 2rem;
        line-height: 2rem;
    }
    .mobile_btn {
        display: block;
    }
    .reset_btn > button {
        width: 100%;
        height: 70px;
    }
    .filter_bg .color_item a {
        width: 23%;
        height: auto;
        padding-bottom: 23%;
        box-sizing: border-box;
    }
    .item {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .logo {
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
    }
    .logo a img {
        padding: 0;
        width: 100px;
    }
    .sec01 .content01 h2 {
        font-style: normal;
        font-size: 4rem;
    }
    .sec01 .content01 ul li {
        width: 110px; height: 110px;
    }
    .sec01 .content01 p br {
        display: none;
    }
    .content01 .title {
        padding-top: 30px;
    }
    .img_box {
        padding-top: 30px;
    }
    .sec03 {
        padding: 0 0 50px 0;
    }
    .sec03 .content01 {
        display: block;
        overflow: hidden;
    }
    .sec03 .img_box {
        width: 274px;
        padding-top: 0;
    }
    .sec03 .right_box {
        float: left;
        padding: 15px 0 0 51px;
    }
    .sec03 .content01 .title > span {
        text-align: left;
        font-size: 1.8rem;
    }
    .sec03 .team_list {
        float: left;
        font-size: 1.8rem;
    }
    .sec03 .img_box ul li {
        width: 130px; height: 130px;
    }
    .sec03 .content01 .title {
        text-align: center;
    }
    .sec03 .content01 h2 {
        font-style: normal;
    }
    .sec03 .team_list ul li p {
        display: block;
        padding-left: 30px;
        font-size: 1.2rem;
    }
    /* Home */
    .mobile {
        display: block;
        width: 250px;
    }
    .main_logo {
        display: none;
    }
    .logo a img {
        display: none;
    }
    /* Loadmap */
    .footer_logo {
        width: 80px;
    }
    .footer_logo::before {
        content: '';
        position: absolute;
        top: 85px; left: -145px;
        width: 110px; height: 1px;
        background: #fff;
    }
    .footer_logo::after {
        content: '';
        position: absolute;
        top: 85px; right: -145px;
        width: 110px; height: 1px;
        background: #fff;
    }
    .footer_social {
        top: 110px;
    }
    .copyright {
        bottom: 90px;
    }
}
@media (max-width: 660px) {
    .main_bg {
        background-size: cover;
    }
    .bottom_img {
        width: 100%;
    }
    .monkey {
        left: 10px;
    }
    .sec01 .content01 h2,
    .content01 h2 {
        font-size: 3rem;
    }
    .sec01 .content01 > p {
        line-height: 20px;
        font-size: 1rem;
    }
    .sec02 .content01 p {
        padding-top: 20px;
        line-height: 20px;
        font-size: 1rem;
    }
    .sec03 .content01 .title > span {
        font-size: 1.4rem;
    }
    .sec03 .team_list {
        font-size: 1rem;
    }
    .sec03 .img_box {
        width: 215px;
    }
    .sec03 .img_box ul li {
        width: 100px; height: 100px;
    }
    .sec03 .right_box {
        padding: 15px 0 0 0px;
    }
    .sec02 .content01 img {
        width: 250px;
    }
    .sec03 .content01 {
        display: flex;
    }
    .sec03 .img_box {
        width: 325px;
    }
    .sec03 .img_box ul li {
        width: 155px;
        height: 155px;
    }
}
@media (max-width: 430px)  {
    .mobile_title_neon {
        top: 135px;
    }
    .mobile_title_neon img {
        width: 120px;
        top: -70px;
    }
    .smoke {
        bottom: 35px;
    }
    .main_bg {
        height: 549px;
    }
    .bottom_img {
        width: 415px;
    }
    .mobile_neon {
        top: 185px;
    }
    .mobile_neon img {
        width: 420px;
    }
    .door.on {
        width: 280px;
    }
    .monkey img {
        width: 175px;
    }
    .desc {
        right: 50px;
    }
    .desc p {
        font-size: 1.3rem;
    }
    .sec01 .content01 ul li {
        width: 80px;
        height: 80px;
    }
    .mobile {
        width: 170px;
    }
    .loadmap_mobile .loadmap01 {
        height: 2065px;
    }
    .loadmap_mobile .loadmap02 {
        height: 1000px;
    }
    .loadmap_mobile .loadmap_txt p br{
        display: none;
    } 
    .loadmap_mobile .loadmap_txt02 p br{
        display: none;
    } 
    .msdna_img {
        width: 270px;
        height: 122px;
    }
    .loadmap_logo {
        height: 100px;
    }
    .loadmap_mission {
        height: 280px;
    }
    .copyright,
    .footer_social {
        right: 20px;
    }
}
@media (max-width: 360px) {
    .container.loadmap_mobile {
        max-width: 340px;
        padding: 0 10px;
    }
    .loadmap_mobile .loadmap02 {
        height: 1015px;
    }
    footer {
        padding: 0 10px;
    }
    .footer_logo {
        width: 50px;
    }
    .footer_logo::before {
        content: '';
        position: absolute;
        top: 70px; left: -105px;
        width: 90px; height: 1px;
        background: #fff;
    }
    .footer_logo::after {
        content: '';
        position: absolute;
        top: 70px; right: -105px;
        width: 90px; height: 1px;
        background: #fff;
    }
    .footer_social {
        top: 95px;
    }
    .footer_social ul li {
        margin-right: 5px;
    }
    .footer_social ul li a {
        width: 20px; height: 20px;
    }
    .copyright {
        bottom: 90px;
    }
}