@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .footer_infor {
        max-width: 960px;
    }
}
@media (max-width: 990px) {
    .container {
        max-width: 720px;
    }
    .social_nav {
        display: none;
    }
    .glo_nav {
        justify-content: flex-start;
    }
    .glo_nav > ul > li > a {
        padding: 5px 5px;
        margin: 0;
    }
    .wrap {
        flex-wrap:wrap;
    }
    .title {
        padding: 0 15px;
    }
    .filter_box {
        padding: 0 15px;
        box-sizing: border-box;
    }
    .filter_bg .color_item {
        width: 100%;
    }
    .filter_bg .color_item a {
        width: 24%; height: 150px;
    }
    .filter_bg .color_item a:nth-child(4n) {
        margin-right: 0;
    }
    .filter_box {
        flex: 0 0 100%;
    }
    .item {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .gallery {
        padding-top: 50px;
        flex: 0 0 100%;
    }
    .reset_btn {
        margin-top: 10px;
    }
    .reset_btn > button {
        width: 100%;
        height: 90px;
    }
    .content01 {
        padding: 0 20px;
    }
    .content02{
        padding: 0 20px;
    }
    .sec01 .flex_box,
    .sec02 .flex_box,
    .sec04 .flex_box {
        flex-direction: column;
    }
    .sec01 .flex_box .right_box ul {
        justify-content: space-between;
    }
    .sec04 .flex_box {
        align-items: center;
    }
    .sec01 .flex_box .left_box,
    .sec02 .flex_box .left_box,
    .sec04 .flex_box .left_box {
        margin-right: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .sec01 .flex_box .right_box,
    .sec02 .flex_box .right_box,
    .sec04 .flex_box .right_box {
        margin-top: 5%;
    }
    .sec04 .flex_box .right_box {
        width: 50%;
    }
    .sec01 .content01 .flex_box .right_box ul li {
        width: 48.4%;
        margin-right: 0;
    }
    .content02 .flex_box .right_box {
        padding: 0;
    }
    .content02 .flex_box .right_box p {
        padding: 0;
    }
    .sec02 .right_box {
        padding: 0;
    }
    .col03 {
        width: 100%;
        flex: 0 0 100%;
    }
    .buy-an-ape {
        padding: 50px 20px 0px 20px;
    }
    .bayc-bg {
        padding: 20px 25px;
    }
    .bayc-bg h2 {
        padding: 0;
        text-align: center;
    }
    .bayc-bg a {
        width: 290px;
        padding: 25px 30px;
        margin: 0 auto;
    }
    .sec03 .content01 .flex_box .left_box {
        max-width: 100%;
        flex: 0 0 100%;
        margin: 0;
    }
    .sec03 .content01 .flex_box .desc {
        padding: 0 50px;
    }
    .footer_infor {
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .sec01 .content01 .flex_box .right_box ul li {
        width: 47.9%;
    }
    .sec03 .content01 .flex_box .desc {
        padding: 0;
    }
    .sec03 .content02 ul li {
        position: relative;
        width: 100%;
        margin-right: 0;
    }
    .sec03 .content02 ul li img {
        width: 25%;
        margin-right: 700px;
    }
    .sec03 .content02 ul li span {
        position: absolute;
        padding-left: 140px;
        top: 30px; left: 0;
    }
    .sec03 .content02 ul li span > br {
        display: none;
    }
    .sec03 .content02 ul li p {
        position: absolute;
        padding-left: 140px;
        margin-top: 5px;
        top: 50px; left: 0;
        box-sizing: border-box;
    }
    .footer_infor .footer_right {
        padding-right: 90px;
    }

}
@media (max-width: 730px) {
    .container {
        max-width: 540px;
        padding: 0;
    }
    #nav {
        flex-wrap: wrap;
        justify-content:space-between;
        padding: 15px 20px;
    }
    .title {
        flex: 0 0 0;
    }
    .glo_nav {
        display: none;
    }
    .mobile_btn {
        display: block;
    }
    .reset_btn > button {
        width: 100%;
        height: 70px;
    }
    .filter_bg .color_item a {
        width: 23%;
        height: auto;
        padding-bottom: 23%;
        box-sizing: border-box;
    }
    .item {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .footer_infor {
        max-width: 540px;
    }
}
@media (max-width: 730px)  {
    .filter_bg .color_item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}